:root {
    --primary: #6209DB;
    --grey: #f5f5f5;
}
body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    min-height: 90px;
}

.navbar .btn {
    padding: .625rem 1.25rem !important;
}

.text-primary {
    color: var(--primary) !important;
}

.btn {
    padding: 1rem;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover{
    background-color: var(--primary);
    border-color: var(--primary);  
}

.btn-light {
    background-color: var(--light);
    color: var(--primary); 
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-light {
    background-color: var(--grey) !important;
}

.content {
    max-width: 500px;
}

section {
    height: 900px;
}

.step{border-bottom: 1px solid #d8d6de;
    padding-bottom: 1.3rem;}


.call-to-action {
    border-radius: 50px;
}

.call-to-action img {
    max-width: 280px;
}

.cta-form {
    max-width: 480px;
}

.cta-form .form-control {
    min-height: 82px;
}

.cta-form .btn {
    top: 12px;
    right: 12px;
}


@media (max-width: 992px) {
   .navbar {
       position: relative !important;
   }
   section {
    height: unset;
   }
   .call-to-action img {
    max-width: 100px;
   }

}

.navbar-toggler:focus {
    box-shadow: none;
}

.w-75 {
    width: 100% !important;
}

